.landing-container {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.carousel {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 14px;
  margin-top: 30px;
  position: relative;
  border: 3px solid var(--primary);
  display: flex;
  justify-content: center;
}

.carousel img {
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: contrast(110%) brightness(105%) saturate(120%);

}

.text-section {
  margin-top: 30px;
  text-align: center;

}

.text-section h1 {
  font-size: 28px;
  color: var(--primary);
  margin-bottom: 10px;
}

.text-section p {
  font-size: 22px;
  color: #666;
}

.btn-login {
  margin-top: 20px;
  background: var(--primary);
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.btn-login:hover {
  background: var(--accent);
}