.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  background: white;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  max-width: 400px;
  width: 500px;
}

.search-bar svg {
  color: #07454e;
  display: flex;
  align-items: center;
}

.search-bar input {
  border: none;
  outline: none;
  font-size: 15px;
  width: 100%;
  color: #333;
  display: flex;
  align-items: center;

}

.search-bar input::placeholder {
  color: #999;
  align-items: center;
}